.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #26272b;
    padding: 1rem;
    box-shadow: 0px 0px 20px #18191b;
}
.icon{
    font-size: 2rem;
    color:#ffc400;
}
.span{
    color:#7a28ec
}